{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Login </a>
    </div>
</nav>
<div class = "login" >

    <form method="POST" action="">
        {% csrf_token %}
        <body style="background-color: #256D85;">
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control form-control-lg" style="background-color: #DFD3C3; "></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control form-control-lg" style="background-color: #DFD3C3;"></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><input class="btn btn-primary" type="submit" value="Login"></td>
                </tr>
            </table>
        </body>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}