{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Formulir Registrasi </a>
    </div>
</nav>

<div class = "login">
    
        <form method="POST" >  
            {% csrf_token %}  
           <body style="background-color: #256D85;">
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="btn btn-dark" type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
           </body>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}